
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/MySyleSN.css" rel="stylesheet" />
<h2>Ejercicio Nomina I+D</h2>

<div>
    <br />
    <h2 class="title-name">ISIC. Saul Ezequiel Navarro Tec</h2>

    <h3>Herraminetas usadas</h3>
    <h4>
    -Tecnología ASP.NET Framework <br />
    -Bootstrap 3.X <br />
    -HTML Y CSS <br />
    -JavaScript <br />
    -SQL server (base de datos)<br />
    -EntityFramework <br />
</h4>
</div>
<br />

